body{
  background-image: url(https://www.thoughtco.com/thmb/J4YlTIoI3zImSkA-7ptLIxzkdH0=/2122x1416/filters:fill%28auto,1%29/02.28.16_How-Long-Jesus-Cross-56d36a1d3df78cfb37d318a6.jpg);
  background-repeat: no-repeat;
  background-size:auto;
  margin: 0;
}



.container{
  background: linear-gradient(#13547a , #80d0c7);
  display: block;
  width: 700px;
  text-align: center;
  margin-left: 80px;
  margin-top: 80px;
  border: 2px solid white;
  border-radius:15px 50px 30px 5px;
  line-height: 2;
}

div.container h1 {
  color:#32292f;
  text-transform: capitalize;
  font-size: 80px;
  font-family: 'Piedra','cursive';
}
.titheHeader{
  margin-top: 20px;
  margin-bottom: 0px;
}
div.container p{
  font-size: 20px;
  font-family: 'Piedra','cursive';
  margin-top: 0px;
  color: #fff;
}

div.container2{
    background: linear-gradient(#93a5cf , #e4efe9);
    border: 1px solid black;
    border-radius: 15px 50px 30px;
    margin: 0px 10px 10px 10px;
    width:700px;
    margin-left: 80px;
    margin-top: 10px;
}

 p.biblechapter{
  color:#32292f;
  text-decoration: underline;
  text-align: center;
  font-family: 'Piedra','cursive';
  margin-bottom:0px;
}

 p.bibleverse{
  color:#705d56;
  text-align: center;
  font-family: 'cursive';
  line-height: 2;
  margin-top: 0px;
}

#numField1{
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0);
}

 h3{
  font-size: 25px;
  color:black;
}
.dollars{
color:#fff;
padding: 0;
margin: 0;
}

input[type = "text"]{
  font-size: 20px;
  width:400px;
  min-width: 100px;
  padding: 5px;
  border: 0 0 0 white;
  border-radius: 7px;
}
input[type = "submit"]{
  font-size: 20px;
  width:200px;
  min-width: 100px;
  padding: 5px;
  border: 0 0 0 white;

}
.image{
  width:100px;
  height: 100px;
}
